<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create contract</title>
    <link rel="stylesheet" href="/bootstrap-5.0.2-dist/css/bootstrap.css">


</head>
<body style="background: url(/images/slide_h3.jpg)">
<h1 th:align="center" >Create contract</h1>
<p>
    <a  style="color: #4f2216" th:href="@{/contract}">Contract list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>

<div class="d-block w-50  container mb-2 bg-primary " style="width:500px ;margin: 0px auto;background: url(/images/slide_h3.jpg">
    <form th:action="@{/contract/create}" th:object="${contractDto}" method="post">

        <div class="mb-3">
            <label class="form-label" style="color: #4f2216" >startDate:</label>
            <input class="form-control" aria-describedby="emailHelp" type="text" th:field="*{startDate}"/>
        </div>

        <div class="mb-3">
            <label  style="color: #4f2216" >endDate:</label>
            <input class="form-control" aria-describedby="emailHelp" type="text" th:field="*{endDate}"/>
        </div>

        <div class="mb-3">
            <label style="color: #4f2216" >deposit:</label>
            <input class="form-control" aria-describedby="emailHelp" type="text" th:field="*{deposit}"/>
        </div>

        <div class="mb-3">
            <td style="color: #4f2216" >employee:</td>
            <select class="form-control" aria-describedby="emailHelp" th:field="*{employee}">
                <option th:each="item : ${employees}"
                        th:value="${item.id}" th:text="${item.name}">
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label style="color: #4f2216" >customer:</label>

            <select class="form-control" aria-describedby="emailHelp" th:field="*{customer}">
                <option th:each="item : ${customers}"
                        th:value="${item.id}" th:text="${item.name}">
                </option>
            </select>

        </div>

        <div class="mb-3">
            <label style="color: #4f2216" >Facility type:</label>

            <select class="form-control" aria-describedby="emailHelp" th:field="*{facility}">
                <option th:each="item : ${facilities}"
                        th:value="${item.id}" th:text="${item.name}">
                </option>
            </select>


        <div>
            <input  style="color: #4f2216" type="submit" value="Create contract">
        </div>

    </form>
</div>

<script src="/jquery-3.6.1.min.js"></script>
<script src="/bootstrap-5.0.2-dist/js/bootstrap.js"></script>

</body>
</html>
</table>