<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-3 header">
            <span>
                <a class="navbar-brand" href="#">
                    <img src="/images/logo_furama.png" alt="" width="122" height="116">
                </a>
            </span>
        </div>
        <div class="col-5 header text-center fs-1">Contract</div>
        <div class="col-4 header position-relative"><span class="position-absolute top-50 start-50 translate-middle">Ngô Đình Nhật Tuấn</span>
        </div>
    </div>

    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light   ">
            <div class="col-4"></div>
            <div class="col-5">
                <div class="container-fluid d-flex justify-content-center ">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle float-end" href="#" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="float-end "><a class="text-decoration-none"
                                                                href="http://localhost:8080">Home</a></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle float-end" href="#" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="float-end"><a class="text-decoration-none"
                                                               href="http://localhost:8080/employee">Employee</a></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle float-end" href="#" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="float-end"><a class="text-decoration-none"
                                                               href="http://localhost:8080/customer">Customer</a></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle float-end" href="#" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="float-end"><a class="text-decoration-none"
                                                               href="http://localhost:8080/facility">Facility</a></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle float-end" href="#" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="float-end"><a class="text-decoration-none"
                                                               href="http://localhost:8080/contract">Contract</a></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <form action="/customer" class="d-flex">
                    <input class="form-control me-2" type="text" name="name" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit" name="action" value="findByName">Search
                    </button>
                </form>
            </div>

        </nav>
    </div>

    <a style="text-decoration: none" th:href="@{/contract/show-form-create}">Thêm mới khách hàng</a>

    <form th:action="@{/contract}" method="get">

        <input th:type="text" name="start">
        <input th:type="text" name="end">

        <input th:type="submit" name="action" value="findByName">
    </form>


    <h1>contracts</h1>
    <table class="table table-bordered ">
        <thead style="background-color: #3dd5f3;color: black">
        <tr>
            <th>STT</th>
            <th>startDate</th>
            <th>endDate</th>
            <th>deposit</th>
            <th>employee</th>
            <th>customer</th>
            <th>facility</th>
            <th> Tổng Tiền</th>
            <th> Danh sách dịch vụ đi kèm</th>

            <!--        <th>Edit</th>-->
            <!--        <th>Delete</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="contract,index : ${contracts}">
            <td th:text="${index.count+5*contracts.number}"></td>
            <td th:text="${contract.startDate}"></td>
            <td th:text="${contract.endDate}"></td>
            <td th:text="${contract.deposit}"></td>
            <td th:text="${contract.employee.getName()}"></td>
            <td th:text="${contract.customer.getName()}"></td>
            <td th:text="${contract.facility.getName()}"></td>
            <td th:text="${contract.total}"></td>
            <td>
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                        th:data-bs-target="'#staticBackdrop' + ${contract.id}">
                    <img width="25 25" src="https://cdn-icons-png.flaticon.com/512/1828/1828817.png" alt="">
                </button>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                        th:data-bs-target="'#showList' + ${contract.id}">
                    Danh sách dịch vụ đi kèm
                </button>

                <!-- Modal-->
                <div class="modal fade" th:id="staticBackdrop + ${contract.id}" data-bs-backdrop="static"
                     data-bs-keyboard="false"
                     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Danh sách dịch vụ đi kèm</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <form th:action="@{/contract-detail/create}" th:object="${contractDetailDto}"
                                      method="post">

                                    <div class="mb-3">
                                        <label style="color: #4f2216">quanlity:</label>
                                        <input class="form-control" aria-describedby="emailHelp" type="number"
                                               th:field="*{quanlity}"/>
                                    </div>

                                    <div class="mb-3">
                                        <label style="color: #4f2216">attachFacility:</label>
                                        <select th:field="*{attachFacility}">
                                            <option th:each="item : ${attachFacilities}"
                                                    th:value="${item.id}" th:text="${item.name}">
                                            </option>
                                        </select>
                                    </div>

                                    <div>
                                        <input style="color: #4f2216" type="submit" value="Create facility">
                                    </div>

                                </form>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal-->
                <div class="modal fade" th:id="showList + ${contract.id}" data-bs-backdrop="static"
                     data-bs-keyboard="false"
                     tabindex="-1" aria-labelledby="staticShowListLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticShowListLabel">Danh sách dịch vụ đi kèm</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <table class="table table-bordered ">
                                    <thead style="background-color: #3dd5f3;color: black">
                                    <tr>
                                        <th>STT</th>
                                        <th>startDate</th>
                                        <th>endDate</th>
                                        <th>deposit</th>
                                        <th>employee</th>
                                        <th>customer</th>
                                        <th>facility</th>
                                        <th> Tổng Tiền</th>


                                        <!--        <th>Edit</th>-->
                                        <!--        <th>Delete</th>-->
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="contract,index : ${contracts}">
                                        <td th:text="${index.count+5*contracts.number}"></td>
                                        <td th:text="${contract.startDate}"></td>
                                        <td th:text="${contract.endDate}"></td>
                                        <td th:text="${contract.deposit}"></td>
                                        <td th:text="${contract.employee.getName()}"></td>
                                        <td th:text="${contract.customer.getName()}"></td>
                                        <td th:text="${contract.facility.getName()}"></td>
                                        <td th:text="${contract.total}"></td>


                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </td>

        </tr>
        </tbody>
    </table>


    <div>
        <a th:href="@{'/contract'(page=${contracts.number - 1},start=${start},end=${end})}"
           th:if="${contracts.hasPrevious()}">Previous</a>

        <span th:text="${contracts.number + 1}"></span>
        <span th:text="${contracts.totalPages}"></span>

        <a th:href="@{'/contract'(page = ${contracts.number + 1},start=${start},end=${end})}"
           th:if="${contracts.hasNext()}">Next</a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
</script>


</body>
</html>