<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create facility</title>
    <link rel="stylesheet" href="bootstrap-5.0.2-dist/css/bootstrap.css">


</head>
<body>
<h1>Create facility</h1>
<p>
    <a th:href="@{/facility}">Facility list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>

<div class="container mb-2 bg-primary text-white" style="width:500px ;margin: 0px auto">
    <form th:action="@{/facility/create}" th:object="${facilityDto}" method="post">

        <div>
            <label>name:</label>
            <input type="text" th:field="*{name}"/>
            <td style="color: red"
                th:if="${#fields.hasErrors('name')}"
                th:errors="*{name}"> Name Error
            </td>
        </div>

        <div>
            <label>area:</label>
            <input type="text" th:field="*{area}"/>
        </div>

        <div>
            <label>cost:</label>
            <input type="text" th:field="*{cost}"/>
        </div>

        <div>
            <td>maxPeople:</td>
            <input type="text" th:field="*{maxPeople}"/></td>
        </div>
        <div>
            <label>RentType:</label>

            <select th:field="*{rentType}" onchange="onchangeFacility(this.value)">
                <option th:each="item : ${rentTypes}"
                        th:value="${item.id}" th:text="${item.name}">
                </option>
            </select>

        </div>

        <div>
            <label>facility type:</label>

            <select th:field="*{facilityType}">
                <option th:each="item : ${facilityTypes}"
                        th:value="${item.id}" th:text="${item.name}">
                </option>
            </select>

        </div>
        <div id="standardRoom">
            <label>standardRoom:</label>
            <input type="text" th:field="*{standardRoom}"/>
        </div>

        <div id="description">
            <label >descriptionOtherConvenience:</label>
            <input type="text" th:field="*{descriptionOtherConvenience}"/>
        </div>

        <div id="poolArea">
            <label >poolArea:</label>
            <input type="text" th:field="*{poolArea}"/>
        </div>

        <div id="numberFloor">
            <label >numberOfFloors:</label>
            <input type="text" th:field="*{numberOfFloors}"/>
        </div>

        <div id="facilityFree">
            <label >facilityFree:</label>
            <input type="text" th:field="*{facilityFree}"/>
        </div>


        <div>

            <input type="submit" value="Create customer">
        </div>

    </form>
</div>

<script src="/jquery-3.6.1.min.js"></script>
<script src="bootstrap-5.0.2-dist/js/bootstrap.js"></script>
<script>
    function onchangeFacility(value) {
        debugger
        if (value == 1) {
            $("#standardRoom").show();
            $("#description").show();
            $("#poolArea").show();
            $("#numberFloor").show();
            $("#facilityFree").hide();
        }else if (value == 2) {
            $("#standardRoom").show();
            $("#description").show();
            $("#poolArea").hide();
            $("#numberFloor").show();
            $("#facilityFree").hide();
        }else if (value == 3) {
            $("#standardRoom").hide();
            $("#description").hide();
            $("#poolArea").hide();
            $("#numberFloor").hide();
            $("#facilityFree").show();
        }else {
            $("#standardRoom").hide();
            $("#description").hide();
            $("#poolArea").hide();
            $("#numberFloor").hide();
            $("#facilityFree").hide();
        }
    }
</script>
</body>
</html>
</table>